.layout {
    width: 100%;
    display: grid;
    height: 100vh;

    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem 1fr 6.625rem;
    
    grid-template-areas: 
    "header"
    "body"
    "footer";
}

.header {
    grid-area: header;
    width: 100%;
}

.main {
    grid-area: body;
    display: flex;
    flex-direction: column;
    width: 100%;  
}

.footer {
    grid-area: footer;
    width: 100%;
}